html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 11vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/* Page content */

.content {
    padding-top: 20px;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
table {
margin: auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}   
td, th {
    border: solid rgb(200, 200, 200) 1px;
    padding: .5rem;
}   
th {
    text-align: left;
    background-color: rgb(190, 220, 250);
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: rgb(50, 50, 100) solid 2px;
    border-top: none;
}   
td {
    white-space: nowrap;
    border-bottom: none;
    color: rgb(20, 20, 20);
}   
td:first-of-type, th:first-of-type {
    border-left: none;
}   
td:last-of-type, th:last-of-type {
    border-right: none;
}